<!DOCTYPE html>
<html lang='en'>
<script src='https://unpkg.com/htmx.org@1.9.4' integrity='sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV' crossorigin='anonymous'></script>
<script src='https://unpkg.com/htmx.org/dist/ext/ws.js'></script>
<head>
<title>Chat Example</title>
<script type='text/javascript'>
    htmx.on('htmx:wsBeforeMessage', function(evt) {
        console.log('htmx:wsBeforeMessage', evt)
    });
    htmx.config.wsReconnectDelay = function (retryCount) {
        return retryCount * 1000 // return value in milliseconds
    }
    htmx.on('htmx:wsAfterMessage', function(evt) {
        console.log('htmx:wsAfterMessage', evt)
        if (evt.detail.message) {
            var chat_room = document.getElementById('chat_room')
            chat_room.innerHTML = chat_room.innerHTML + '<div>' + JSON.parse(evt.detail.message).chat_message + '</div>'
        }
    });
</script>
<style type='text/css'>
html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

</style>
</head>
<body>
<div hx-ext='ws' ws-connect='/ws'>
    <div id='notifications'></div>
    <div id='chat_room'>
        ...
    </div>
    <form id='form' ws-send>
        <input name='chat_message'>
    </form>
</div>
<div id='notifications' hx-swap-oob='beforeend'>
    New message received
</div>
<div id='chat_room' hx-swap-oob='morphdom'>
</div>
</body>
</html>